<!-- app/views/movies/index.html.erb -->

<table class="movies-table">
  <thead>
    <tr>
      <th class="<%= sort_column_class('title') %>"><%= sortable_column "Title", "title" %></th>
      <th class="<%= sort_column_class('rating') %>"><%= sortable_column "Rating", "rating" %></th>
      <th class="<%= sort_column_class('release_date') %>"><%= sortable_column "Release Date", "release_date" %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
